
    
    <div class="zbg-image">
        
        <div class="" style="background-color: #000000cc">
            <div class="row pt-3">
                <div class="col-md-8">
                    <div class="mx-5 ">
                        <a pRipple class=" elnav px-3 py-3 pr-2" routerLink="home" routerLinkActive="activeLink">Inicio</a>
                        <a pRipple class=" elnav px-3 py-3 pr-2" routerLink="search" routerLinkActive="activeLink">Busqueda</a>
                        <a pRipple class=" elnav px-3 py-3 pr-2" routerLink="explore" routerLinkActive="activeLink">Explorar</a>

                    </div>

                </div>

                <div class="col-md-4">
                    <span class="p-input-icon-left px-3 mmobile">
                        <i class="pi pi-search px-3"></i>
                        <input #letter type="text" pInputText  placeholder="Buscar" (keyup.enter)="searchAnime(letter.value)">         
                    </span>
                </div>
            </div>


            <router-outlet></router-outlet>
        
               
        </div>
    </div>


    

